<% unless @list %>
  <p>list does not exist</p>
<% else %>
  <% if @list.private %>
    <p>list is private</p>
  <% else %>
    <div id="wrapper">
      <div id="columns">
        <% @list.items.each do |i|  %>
          <div class="pin">
            <% if i.img_hash %>
              <img src="<%= "http://i.imgur.com/#{i.img_hash}.jpg" %>>
            <% end %>
            <p><%= i.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
